# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/

# Model & Data
*.pkl
*.h5
*.joblib
ml/behavior_logs.csv
data/
honeypot_files/
watch_target/
quarantine/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db